<section id="home">
  <nav id="navbar" class="navbar navbar-expand-md navbar-dark fixed-top px-lg-5">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <div class="navbar-logo d-flex align-items-center">
        <%= image_tag "logo.svg", class: "logo mr-1" %>
        <h5 class="m-0"> JIMMY/CORTÉS</h5>
      </div>
    <% end %>

    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-right" id="myNavbar">
      <ul class="navbar-nav ml-auto">
        <!-- <%# if user_signed_in? %> -->
          <!-- put user type logic here -->
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", infos_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Experiences", experiences_path, class: "nav-link" %>
        </li>
        <!-- <%# else %> -->
          <!-- <li class="nav-item">
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li> -->
        <!-- <%# end %> -->
      </ul>
    </div>
  </nav>
</section>
