<div class="container">
  <h4><%= link_to "Home", root_path, class: "go-home btn btn-primary" %></h4>
  <% if user_signed_in? %>
    <%= link_to new_experience_path, class: 'text-center' do %>
    <h3 class="mt-3 mb-3" > Add an experience </h3>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="experience-section">
        <!-- <h3>Professional Experience</h3> -->
        <% @experiences.each do |e| %>
        <div class="experience-card">
          <h5 class="card-heading"><%= e.show.upcase %></h5>
          <div class="row">
            <div class="col-12 col-lg-6">
              <!-- <h5><%= e.show.upcase %></h5> -->
              <% if e.firm.present? %>
                <p class="m-0 pl-3 card-info"><%= e.firm %></p>
              <% end %>
              <p class="m-0 pl-3 pl-lg-5 experience-title card-info"><%= e.position %></p>
            </div>
            <div class="col-6 col-lg-3 d-flex">
              <p class="m-0 pl-3 card-info"><%= e.location %></p>
            </div>
            <div class="col-6 col-lg-3 d-flex">
              <p class="m-0 card-info"><%= e.start_date.year %>
                <% if e.end_date.present? %>
                  <% if e.end_date.year == Date.today.year %>
                    - present
                  <% else %>
                    - <%= e.end_date.year %>
                  <% end %>
                <% end %>
                </p>
            </div>
          </div>
        </div>
        <% if user_signed_in? %>
              <div class="d-flex">
                <%= link_to experience_path(e), method: :delete, data: {confirm: 'Are you sure?'}, class: 'text-danger mr-3 mt-1' do %>
                  <div class="d-flex justify-space-between">
                    <i class="fas fa-trash-alt"></i>
                    <p class="ml-1"> Remove </p>
                  </div>
                <% end %>
                <%= link_to edit_experience_path(e), class: 'text-secondary mr-2 mt-1' do %>
                  <div class="d-flex justify-space-between">
                    <i class="fas fa-edit"></i>
                    <p class="ml-1"> Edit </p>
                    </div>
                <% end %>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
