<div class="flex-container">
  <div class="text-center px-4 pt-4 profile-info">
    <!-- <h2>Portfolio for Jimmy</h2> -->
    <div class="mb-2">
      <img src="http://nebula.wsimg.com/e974ce0da59fe2687f4b3ad5bd2752fb?AccessKeyId=7CF5232BAEE59A11F643&disposition=0&alloworigin=1" alt="" class="profile-picture">
    </div>
    <h3 class="heading">Jimmy Cortes</h3>
    <h5 class="sub_heading" >Make up artist</h5>
    <h6><%= link_to "About", infos_path, class: "" %></h6>
    <h6><%= link_to "Experiences", experiences_path, class: "" %></h6>
    <a href="mailto:info@jimmycortes.com" target="_blank" class="">Email</a>
    <p class="mt-1">Phone: +34 683 428 931</p>
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete%>
    <% end %>
    <hr>
    <p class="mb-1 small-p">Twenty five years experience working on the legendary characters of grand opera & broadway.
    </p>
    <div class="">
      <a href="https://www.instagram.com/jimmycortes_/" target="_blank" class="links"><i class="fab fa-instagram" ></i></a>
      <a href="https://www.linkedin.com/in/jimmy-cort%C3%A9s-772b826b/" target="_blank" class="links"><i class="fab fa-linkedin "></i></a>
      <a href="https://www.facebook.com/people/Jimmy-Cortes/638264005" target="_blank" class="links"><i class="fab fa-facebook "></i></a>
    </div>
  </div>
  <div class="container mt-2 image-container">
    <div class="row">
      <% @images.each do |image| %>
        <div class="col-sm-3 mb-1">
          <div class="mb-1 image-con" >
            <%= image_tag image.photo, class: "image"%>
            <p class="image-text" style=""><%= image.description %></p>
            <p class="image-title" style=""><%= image.title %></p>
            <% if user_signed_in? %>
              <div class="d-flex">
                <%= link_to image_path(image), method: :delete, data: {confirm: 'Are you sure?'}, class: 'text-danger mr-3 mt-1' do %>
                  <div class="d-flex justify-space-between">
                    <i class="fas fa-trash-alt"></i>
                    <p class="ml-1"> Remove </p>
                  </div>
                <% end %>
                <%= link_to edit_image_path(image), class: 'text-secondary mr-2 mt-1' do %>
                  <div class="d-flex justify-space-between">
                    <i class="fas fa-edit"></i>
                    <p class="ml-1"> Edit </p>
                    </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- <p>jsfjndfjndjfnndf</p> -->
  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <div id="image-container">
    <img class="modal-content" id="img01">
    <h6 class="text-white text-center" id="image_description"></h6>
  </div>
  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

